.avatar-view{
	position: relative;
}


.avatar-view img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  box-shadow: 1px 2px 1px 0px #e4e4e4;
}

.avatar-view .photo{
	display:none;
	position: absolute;
    top: 0px;
    left: 55px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    z-index: 666;
    background: hsla(0, 0%, 10%, 0.3);
}
.avatar-view .fa-camera{
	display:none;
	position: absolute;
    top: 38px;
    left: 92px;
    font-size: 40px;
    z-index: 999;
}

.avatar-view:HOVER .photo,.avatar-view:HOVER .fa-camera{
	display:block;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
  position: absolute;
    top: 37px;
    left: 10px;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  position: relative;
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}


.btn-upload{
	width: 120px;
    margin: 150px auto;
}